@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --background: #131321;
  --foreground: #171829;
  --theme-secondary: #5C61F2;
  --theme-container: 95%;
  --theme-border: #242745;
  --nav-active-color: #5C61F21A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171829;
    --foreground: #131321;
    --theme-border: #242745;
    --nav-active-color: #5C61F21A;
  }
}

body {
  color: white;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .inpt {
    font-size: 16px; /* Ensure inputs are legible */
  }
  .text-balance {
    text-wrap: balance;
  }
  .text-gray {
    color: #C5CAD7;
  }
}
/* More specific selector to prevent overriding */
.data-\[top-scroll\=true\]\:\[mask-image\:linear-gradient\(0deg\2c \#000_calc\(100\%_-_var\(--scroll-shadow-size\)\)\2c transparent\)\][data-top-scroll="true"] {
  mask-image: none !important; /* Override the mask-image */
}

.data-\[bottom-scroll\=true\]\:\[mask-image\:linear-gradient\(180deg\2c \#000_calc\(100\%_-_var\(--scroll-shadow-size\)\)\2c transparent\)\][data-bottom-scroll="true"] {
  mask-image: none !important; /* Override the mask-image */
}

.data-\[top-bottom-scroll\=true\]\:\[mask-image\:linear-gradient\(\#000\2c \#000\2c transparent_0\2c \#000_var\(--scroll-shadow-size\)\2c \#000_calc\(100\%_-_var\(--scroll-shadow-size\)\)\2c transparent\)\][data-top-bottom-scroll="true"] {
  mask-image: none !important; /* Override the mask-image */
}
