@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #131321;
  --foreground: #171829;
  --theme-secondary: #5C61F2;
  --theme-container: 95%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171829;
    --foreground: #131321;
  }
}

body {
  color: white;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-gray {
    color: #C5CAD7;
  }
}
